@media (min-width: 550px) {
    .box {
        display: flex;
        align-items: center;
        text-align: left;
        justify-content: center;
        flex-direction: row;
    }
}

@media (min-width: 750px) {
    .box {
        display: flex;
        align-items: center;
        text-align: left;
        flex-direction: row;
}

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


  